<div class="header-menu">
    <div class="menu-items">
        <div class="menu-item">
            <div class="header-logo">
                <a href="/">
                    <img src="/static/img/header-logo.png">
                </a>
            </div>
        </div>
        <div class="menu-item"><a href="/accounts" class="menu-item-title">Управление аккаунтами</a></div>
        <div class="menu-item"><a href="#" class="menu-item-title">Просмотры</a></div>
        <div class="menu-item"><a href="#" class="menu-item-title">Подписки</a></div>
        <div class="menu-item"><a href="#" class="menu-item-title">Логи</a></div>
        <div class="menu-item"><a href="#" class="menu-item-title">Настройки</a></div>
    </div>

    <div class="user-menu">
        Привет, <span class="user-name">admin</span>
    </div>
</div>